/*------------------------------------*\
	Colores base del sitio
\*------------------------------------*/
$brandColor 	 		: #18191C;
$brandColorComplement 	: #57C3C9;
$brandColorText			: $brandColor;
$brandColorLink   	 	: $brandColorComplement;
$brandColorGray			: #FAFAFB;



/*------------------------------------*\
	Colores RGB, Yellow, Black and Gray
\*------------------------------------*/
$colorRed		: #DC143C;
$colorGreen		: #3CB371;
$colorBlue		: #6495ED;
$colorYellow	: #F7ECB5;
$colorBlack		: #505050;
$colorGray		: #F0F0F0;



/*------------------------------------*\
	Variables para la tipografía 
\*------------------------------------*/
$family-font		: Raleway, helvetica, arial;
$font-base 			: 16px;
$line-height-base 	: 24px;

