---
layout: default
title: Inicio
description: Artículos de Desarrollo Web, Diseño Web y opiniones de las tecnologías que utilizamos en Drombit.
---			
			{% for post in paginator.posts %}  
				<article class="site-blog__article">
					<a href="{{ post.url }}" class="article__title"><h1>{{ post.title }}</h1></a>
					<span class="article__date-author">
						<span class="article-author">
							{% for member in site.data.members %}{% if member.name contains post.author %}<a href="http://www.twitter.com/{{member.twitter}}">{{member.name}}</a>{% endif%}{% endfor %}
						</span>
						<span class="article-date"> - {{ post.date | date_to_string }}</span>
					</span>
                    <div class="article__excerpt">{{ post.excerpt }}</div>
                    <a href="{{ post.url }}" class="article__readmore"> Continuar Leyendo</a>
				</article>
			{% endfor %}

			<div class="site-pagination">
	            {% if paginator.previous_page %}
	              {% if paginator.previous_page == 1 %}
	              <a href="/" class="previous">Anterior</a>
	              {% else %}
	              <a href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
	              {% endif %}
	            {% endif %}

	            <span class="page-number ">Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
	            
	            {% if paginator.next_page %}
	              <a href="{{ paginator.next_page_path }}" class="next">Siguiente</a>
	              {% else %}
	              <span class="next ">Siguiente</span>
	            {% endif %}
		    </div>

