.site-contact-us {
	background: $brandColorComplement;
	text-align: center;
	color: #fff;
}
	.site-contact-us__action {
		@include padding-top(24px);
		@include padding-bottom(24px);

		> h3 { @include margin-bottom(24px); }

		> .btn--ghost {
			border-color: $brandColorGray;
			color: $brandColorGray;
		}

		@include media($tablet) {
			@include padding-top(48px);
			@include padding-bottom(48px);
		}
	}
