.btn{
	display: inline-block;
	background: $bg-aqua;
	color: $bg-white;
	@include padding-two-values(12px, 24px);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	@include btn-hover;
	&:hover{
		background: darken($bg-aqua, 5%);
	}
}