/* 
 * Header
*/
.header{
	background: $bg-blue;
	@include margin-bottom(72px);
	.header-inner{
		@include outer-container();
		@include padding-two-values(12px, 0px);
		text-align: center;
		.logo{
			color: $bg-white;
			@include magic-font(32px,2);
		}
	}
	#category{
		color: $bg-white;
		@include magic-font(32px,2);
		@include padding-two-values(6px, 12px);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background: lighten($bg-blue,10%);
		cursor: pointer;
		&:after{
			content:'';
			display: inline-block;
			@include triangle(12px, gray, down);
		}
		&:hover{
			background: $bg-aqua;
			&:after{
				content:'';
				display: inline-block;
				@include triangle(12px, white, down);
			}
		}
	}

	@include media($mobile) {
	    @include span-columns(1);
	    .header-inner .logo{
	    	@include magic-font(16px,1);
	    }
	    #category{
	    	@include magic-font(16px,1);
	    	&:after{
	    		position: relative;
	    		top: 3px;
				left: 3px;
				z-index: 0;
				@include triangle(12px, gray, down);
	    	}
	    }
	}
	
}

/* 
 * Blog
*/
.blog{
	margin-bottom: 0;
	.article-wrap{
		border-bottom: 2px solid;
		border-color: rgba(0,39,59,.08);
		@include margin-bottom(72px);
		&:last-child{
			margin-bottom: 0;
			border-bottom: 0px;
		}
	}
	.article{
		@include outer-container();
		@include margin-bottom(72px);
		h1{text-align: center}
		.article-title{
			color: $color-txt;
			display: block;
			margin-bottom: 0;
			text-align:  center;
			h1{
				margin-bottom: 0;
			}
		}
		.article-date-author{
			@include magic-font(14px,1);
			margin-bottom: 0;
			display: block;
			@include margin-bottom(72px);
			text-align:  center;
		}
		.article-date, .article-author{
			border-radius: 4px;
			a{color:$color-txt;}
		}

		&:after{
			display: block;
			content: ''; 
		}
		p,h1,h2,ul,ol,#disqus_thread{ 	
			letter-spacing: 1px;
			@include margin-bottom(36px);
			@include padding-two-values(0px,48px);
		}
		#disqus_thread{@include margin-top(72px)}
	}

	@include media($tablet) {
	    @include span-columns(1);
	    @include padding-two-values(0px, 24px);
	    .article{
		    p,#disqus_thread{ 	
				letter-spacing: 0px;
				@include padding-two-values(0px,0px);
			}
		}
	}

	@include media($mobile) {
	    @include span-columns(1);
	    @include padding-two-values(0px, 24px);
	    .article{
		    .article-title h1{
		    	@include magic-font(18px,1);
		    }
		    p,#disqus_thread{ 	
				letter-spacing: 0px;
				@include padding-two-values(0px,0px);
			}
			h1{
	    		@include magic-font(18px,1);
	    		@include padding-two-values(0px,0px);
			}
		}
	}
}

.footer{ 
	text-align: center;
	background: $bg-gray;
	border-top: 1px solid darken($bg-gray, 10%);
	@include span-columns(12);
	@include omega();
	@include padding-two-values(72px, 0px);
	margin-bottom: 0px;
}

.menu{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background: $bg-blue;
	cursor: auto;
	display: none;
	z-index:10;
	#close-menu{
		opacity: 0;
		position: absolute;
		right: 0px;
		top: 24px;
		cursor: pointer;
		z-index: 100;
		color: lighten($bg-blue,30%);
		display: inline-block;
		background: lighten($bg-blue,10%);
		width: 32px;
		height: 32px;
		font-size: 16px;
		line-height: 28px;
		border-radius: 100%;
		@include padding-all(3px);
		&:hover{
			background: $bg-aqua;
		}
	}
	ul{
		padding:0;
		vertical-align: middle;
		display: none;
		opacity: 0;
		position: relative;
		bottom: -1000px;
		li{
			@include padding-two-values(24px, 0px);
		}

		a{
			color: lighten($bg-blue,20%);
		}
	}

	@include media($mobile) {
	    @include span-columns(1);
	    ul li{
	    	@include padding-two-values(12px, 0px);
	    }
	}
}

.pagination{
	text-align: center;
	@include margin-bottom(72px);
	.page-number{
		@include margin-two-values(0px, 24px);
	}

	span.next{
		color: darken($bg-gray, 20%);
	}

}

.social-buttons{
	list-style: none;
	text-align: center;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: rgba(0,39,59,.08);
	li{
		display: inline-block;
		@include margin-two-values(48px,6px);
	}
	.fb-share-button{
		position: relative;
		top: -8px;
	}
	@include media($mobile){
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}