/* 
 * Colores base del sitio
*/
$bg-blue 	: #16171A;
$bg-aqua  	: #57C3C9;
$bg-white 	: #ffffff;
$bg-gray 	: #f9f9f9;
$color-txt 	: #606060;

/* 
 * Variables para la tipografia
*/
$font-base 			: 16px;
$line-height-base 	: 24px;
$font-family 		: "Raleway", sans-serif;

