---
layout: default
categories: [all]
---
            {% if page.category %}
                <h1 class="site-blog__category-title">Artículos de {{page.category | capitalize | replace:'Diseno','Diseño' | replace:'Opinion','Opinión'}}</h1>
            {% endif %}

			{% for post in site.categories[page.category] %}
    			<article class="site-blog__article">
                        <a href="{{ post.url }}" class="article__title"><h1>{{ post.title }}</h1></a>
                        <span class="article__date-author">
                            <span class="article-author">
                                {% for member in site.data.members %}{% if member.name contains post.author %}<a href="http://www.twitter.com/{{member.twitter}}">{{member.name}}</a>{% endif%}{% endfor %}
                            </span>
                            <span> - <time class="article-date" pubdate datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time></span>
                        </span>
                        <div class="article__excerpt">{{ post.excerpt | markdownify }}</div>
                        <a href="{{ post.url }}" class="article__readmore"> Continuar Leyendo</a>
                    </article>
			{% endfor %}