<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Drømbit Blog: {{ page.title }}</title>
        <meta name="description" content='{{ page.description }}'>

        <meta name="og:title" content='{{ page.title }}'>
        <meta name="og:description" content='{{ page.description }}'>

        <meta name="twitter:title" content='{{ page.title }}'>
        <meta name="twitter:description" content='{{ page.title }}'>
        

        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/pygments.css">
        <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- <link rel="stylesheet" href="http://basehold.it/24"> -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header class="site-nav">
            <div class="wrapper">
                <a href="/" class="site-nav__logo"><span class="underscore">_</span>  DRØMBIT BLOG</a>
                <nav class="site-nav__menu">
                    <ul class="menu list-inline">
                        <li><a href="/categoria/desarrollo/">Desarrollo</a></li>
                        <li><a href="/categoria/diseno/">Diseño</a></li>
                        <li><a href="/categoria/opinion/">Opinión</a></li>
                    </ul>
                    
                    <div class="js-menu-mobile"><button type="button" class="btn btn--mini btn--secondary">Temas</button></div>
                </nav>
            </div>
        </header>
        <div class="site-content">
            <section class="site-blog">
                <div class="wrapper">
                    {{ content }}
                </div>
            </section>    
        </div>
	    
	    <footer class="site-contact-us">
            <div class="site-contact-us__action">
                <h3>Desarrollamos y Diseñamos aplicaciones web a la medida.</h3>
                <a href="http://www.drombit.com" class="btn btn--ghost">Visita Nuestro Portafolio</a>
            </div>
		</footer>
        <!-- Facebook BTN -->
        <div id="fb-root"></div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assetjs/vendor/jquery-1.10.2.min.js"><\/script>')</script> 
        <script src="/assets/js/min/main-ck.js"></script>
        
        <!-- Load External Scripts -->
        <script type="text/javascript">
            function downloadJSAtOnload() {
                var element = document.createElement("script");
                element.src = "/assets/js/min/defer-external-scripts-min.js";
                document.body.appendChild(element);
            }

            if (window.addEventListener)
                // load the function "downloadJSAtOnload" after the DOM is ready,
                // the last parameter @false active the Event Bubling.
                window.addEventListener("load", downloadJSAtOnload, false);
                
                // Fallback for IE 
            else if (window.attachEvent)
                window.attachEvent("onload", downloadJSAtOnload);
            else window.onload = downloadJSAtOnload;
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-49467744-1', 'drombit.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>