<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Drombit Blog: {{ page.title }}</title>

        <meta name="og:title" content='{{ page.title }}'>
        <meta name="og:description" content='{{ page.description }}'>

        <meta name="twitter:title" content='{{ page.title }}'>
        <meta name="twitter:description" content='{{ page.title }}'>
        

        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href="{{ site.baseurl }}favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}assets/css/pygments.css">
        <script src="{{ site.baseurl }}assets/js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- <link rel="stylesheet" href="http://basehold.it/24"> -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header class="header">
        	<div class="header-inner">
        		<a class="logo" href="{{ site.baseurl }}">DRØMBIT BLOG -</a>  
        		{% comment%}Mostrando la categoria en la que nos encontramos en el Header{% endcomment %}
        		{% assign name_category = page.categories | join: '' %}
        		<span id="category">
        			{% if page.categories | first | upcase | size > 0 %}
        				{% if name_category contains 'all' %}
							<span id="categoryName">{{ page.title | remove: 'Categoria:' | upcase }}</span>
	        			{% else %}
	        				<span id="categoryName">{{page.categories | first | upcase }}</span>
	        			{% endif %}
        			{% else %}
        				<span id="categoryName">INICIO</span>
        			{% endif %}
        			<nav class="menu">
        				<div id="close-menu">X</div>
        				<ul>
        					<li><a href="{{ site.baseurl }}">Inicio</a></li>
        					<li><a href="/categoria/desarrollo">Desarrollo</a></li>
        					<li><a href="/categoria/diseno">Diseño</a></li>
        					<li><a href="/categoria/opinion">Opinión</a></li>
        				</ul>
        			</nav>
        		</span>
        	</div>
        </header>

	    <section class="blog">
	    	{{ content }}
	    </section>

	    <footer class="footer">
			<h3>Acerca de Drombit</h3>
			<p>Nos especializamos en el desarrollo de sistemas y sitios web a la medida</p>
			<a href="http://www.drombit.com" class="btn">Nuestro Portafolio</a>
		</footer>
        <!-- Facebook BTN -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=355374614576579";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.baseurl }}assetjs/vendor/jquery-1.10.2.min.js"><\/script>')</script> 
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>     
        <script src="{{ site.baseurl }}assets/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>